<div class="form-container">
  <h2>Demande de boutique</h2>

  <form (ngSubmit)="submit()">

    <input
      type="text"
      placeholder="Nom"
      [(ngModel)]="name"
      name="name"
      required
    />

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <textarea
      placeholder="Lettre de motivation"
      [(ngModel)]="coveringLetter"
      name="coveringLetter"
      required
    ></textarea>

    <small>L'image est facultative</small>
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
    />

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Envoi...' : 'Envoyer' }}
    </button>

    <p class="success" *ngIf="successMessage">
      {{ successMessage }}
    </p>
  </form>
</div>
