<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<!-- POPUP -->
<div class="modal-backdrop" *ngIf="selectedEvent" (click)="selectedEvent = null">
  <div class="modal" (click)="$event.stopPropagation()">

    <img
      [src]="selectedEvent.image"
      alt="Shop image"
      class="shop-image"
    />

    <h2>{{ selectedEvent.name }}</h2>

    <p>
      <strong>Début :</strong>
      {{ selectedEvent.start | date:'HH:mm' }}
    </p>

    <p>
      <strong>Fin :</strong>
      {{ selectedEvent.end | date:'HH:mm' }}
    </p>

    <button (click)="selectedEvent = null">Fermer</button>
  </div>
</div>
