<div class="flex justify-center items-center w-full h-full">
  <z-card
    zTitle="Plan du centre commercial"
    class="w-full h-full flex flex-col overflow-hidden"
  >
    <div class="relative w-full flex-1 overflow-hidden rounded-md min-h-0">
      <canvas
        #rendererCanvas
        class="renderer-canvas w-full h-full block"
      ></canvas>

      @if (hoveredShopName) {
        <div
          class="shop-tooltip"
          [style.left.px]="tooltipX + 14"
          [style.top.px]="tooltipY - 36"
        >
          {{ hoveredShopName }}
        </div>
      }

    </div>
  </z-card>
</div>
